// Colors
$dark-blue: #364051;
$blue: #5797ff;
$dark-grey: #333;
$green: #024213;
$grey: #999;
$light-blue: #ccdfff;
$lime: #90fa66;
$off-white: #f7f7f7;

//font-size
$font-size-xl: 2.2rem;
$font-size-lg: 2rem;
$font-size-md: 1.8rem;
$font-size-sm: 1.4rem;
$font-size-xs: 1.0rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

